:root {

    --purple         : #BF3676;
    --black          : #222222;
    --white          : #FFFFFF;
    --purple-light   : #D3C4F2;
    --grey           : #BBBBBB;
    --dot-grey       : #818181;
    --gradient-light : #4C3991;
    --gradient-dark  : #2F2359;
}