@import "_colors.css";

nav {

    display        : flex;
    flex-direction : row;
    align-items    : center;
    width          : 85vw;
    margin         : 0 auto;
    left           : 0;
    right          : 0;
    top            : 0;
    z-index        : 999;
    color          : var(--white);
    padding-top    : 1.5em;
}

nav .nav-link {

    margin-right : 2em;
    padding      : 0 .25em;
    position     : relative;
}

nav .nav-link.active:after {

    height           : 2px;
    content          : '';
    position         : absolute;
    background-color : var(--white);
    bottom           : -8px;
    left             : -4px;
    right            : -4px;
}